body {
    background-color: #a89ca8;
    font-family: "Raleway", sans-serif;
    
    font-size: 15px;
}

body > header {
    background-color: #b293b2;
    padding: 10px;
    color: #6e5b6e;
    border-radius: 10%;
    margin: 30px;
    display: flex;
    justify-content: space-around;
}

#nav-ul {
    display: flex;
}

#nav-ul > li {
    padding: 8px;
}

body > header > nav > ul {
    list-style: none;
    text-decoration: none;
}

.navbutton {
    color: #6e5b6e;
    text-decoration: none;
}

body > main {
    width: 90%;
    margin: auto;
}


img {
    max-width: 100%;
    height: auto;
    margin-top: -5px;
}



body > footer {
    background-color: #b293b2;
    padding: 10px;
   display: flex;
}

#footer-ul {
    display: flex;
    list-style: none;
}

#footer-ul > div > li {
    margin-left: 50px;

}

#footer-ul > div > li > a {
    color: #6e5b6e;
    text-decoration: none;
}

div.form
{
    display: block;
    text-align: center;
}
form
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#signup {
    text-align: center;
}

FORM DL {
    display: inline-block;
    vertical-align: top;
}

#subscribe_butt {
    background-color: #6e5b6e;
    padding: 10px;
    font-family: "Raleway", sans-serif;
    border-radius: 25px;
    border-color: #b293b2;
    color: #b293b2;
}