body {
    background-color: #a89ca8;
    font-family: "Raleway", sans-serif;
    
    font-size: 15px;
}

body > header {
    background-color: #dccddc;
    padding: 10px;
    color: #6e5b6e;
    border-radius: 5px;
    margin: 30px;
    display: flex;
    justify-content: space-around;
}

#nav-ul {
    display: flex;
}

#nav-ul > li {
    padding: 8px;
}

body > header > nav > ul {
    list-style: none;
    text-decoration: none;
}

.navbutton {
    color: #6e5b6e;
    text-decoration: none;
}

body > main {
    width: 90%;
    margin: auto;
}


img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}



body > footer {
    background-color: #dccddc;
    padding: 10px;
   display: flex;
}

#footer-ul {
    display: flex;
    list-style: none;
}

#footer-ul > div > li {
    margin-left: 50px;

}

#footer-ul > div > li > a {
    color: #6e5b6e;
    text-decoration: none;
}

div.form
{
    display: block;
    text-align: center;
}
form
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#signup {
    text-align: center;
}

FORM DL {
    display: inline-block;
    vertical-align: top;
}

#subscribe_butt {
    background-color: #6e5b6e;
    padding: 10px;
    font-family: "Raleway", sans-serif;
    border-radius: 25px;
    border-color: #dccddc;
    color: #dccddc;
}




.container {
    height: auto;
    max-width: 100%;
    position: relative;
  }
  
  .image {
    opacity: 1;
    display: block;
    max-width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
  }
  
  
  
  .container:hover 
  
  .middle {
    opacity: 1;
  }
  
  .text {
    border-radius: 5px;
    color: #dccddc;
    font-size: 4vw;
    padding: 16px 32px;
    text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px #6e5b6e;
  }